@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
    font: 12px/1 'Microsoft YaHei', Arial, sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: grayscale; // stylelint-disable-line
}

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: normal; }

div,
table,
form,
input,
button,
select,
textarea,
fieldset,
legend {
    outline: none;
    border: 0;
    background-color: transparent;
}

ul,
ol,
li { list-style: none outside none; }

a {
    text-decoration: none;
    cursor: pointer;
}

img { border: 0; }

button,
input,
select,
textarea {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    word-wrap: break-word;
    word-break: break-all;
}

.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix { zoom: 1; }
