// flex布局 start
[class*=flex-row],
[class*=flex-col] {
    display: flex;
}

.flex {
    // align-items 布局
    @each $key in flex-start, flex-end, center, baseline, stretch {
        // 交叉轴对齐方式单行文本
        &-items-#{$key} {
            align-items: #{$key};
        }

        // 单个属性对齐方式
        &-self-#{$key} {
            align-self: #{$key};
        }
    }

    @each $key in flex-start, flex-end, center, space-between, space-around {
        &-row-#{$key} {
            flex-flow: row nowrap;
            justify-content: #{$key};
        }

        &-col-#{$key} {
            flex-flow: column nowrap;
            justify-content: #{$key};
        }

        // 多根交叉轴的对齐方式，一根轴线不起作用
        &-content-#{$key} {
            align-content: #{$key};
        }
    }

    @each $key in nowrap, wrap, wrap-reverse {
        &-#{$key} {
            flex-wrap: #{$key};
        }
    }

    &-shink-0 {
        flex-shrink: 0;
    }
}
// flex 布局 end

// 常用间距
@each $key in 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 30, 36, 40, 44, 60 {
    .mt#{$key} {
        margin-top: #{$key}px;
    }

    .mr#{$key} {
        margin-right: #{$key}px;
    }

    .mb#{$key} {
        margin-bottom: #{$key}px;
    }

    .ml#{$key} {
        margin-left: #{$key}px;
    }

    .pt#{$key} {
        padding-top: #{$key}px;
    }

    .pr#{$key} {
        padding-right: #{$key}px;
    }

    .pb#{$key} {
        padding-bottom: #{$key}px;
    }

    .pl#{$key} {
        padding-left: #{$key}px;
    }

    .fz#{$key} {
        font-size: #{$key}px;
    }

    .lh#{$key} {
        line-height: #{$key}px;
    }
}

// vertical align
@each $key in top, middle, bottom {
    .vertical-align-#{$key} {
        vertical-align: #{$key};
    }
}

// text align
@each $key in left, center, right {
    .text-align-#{$key} {
        text-align: #{$key};
    }
}

// text align
@each $key in default, pointer, not-allowed {
    .cursor-#{$key} {
        cursor: #{$key};
    }
}

// 超出多少行隐藏显示...
@each $key in 1, 2, 3 {
    .text-ellipsis-#{$key} {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: #{$key};
        -webkit-box-orient: vertical;
    }
}

// 超出隐藏...
.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.font-bold {
    font-weight: bold;
}
